<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Player Properties</title> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="/css/main.css" />
    <% 
    function generateRandomString(length) {
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let result = '';
        for (let i = 0; i < length; i++) {
            result += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return result;
    } %>
</head> 
<body>    
    <h1>Welcome, 
        <span id="username-text" style="color:blue;"><%= user.username %></span>
    </h1>
    Matches: 1769/2970, 60.47%  <br/>
    Time: 737h 14m 11s          <br/>
    Level: 350, Baron           
    <div id="edit-username-div">
        <input id="new-username-input" type="text" placeholder="<%= user.username %>" />
        <button id="submit-username-button">Update Username</button>
    </div>
    
    <img src="https://api.dicebear.com/<%=user.avatar %>" id="avatar-image" style="height: 4em; vertical-align: middle;">

    <div id="edit-avatar-div">
        <input id="new-avatar-input" type="text" placeholder="New avatar seed" />
        <button id="submit-avatar-button">Update Avatar</button>
    </div>

    <table>
        <th>Sample avatars:</th>
        <% 
            let styles = ['adventurer', 'avataaars', 'big-ears', 'big-smile', 'lorelei', 'fun-emoji', 'personas'];
            for (let style of styles) {
                let randomSeed = generateRandomString(5);
        %>
        <tr>
            <td><%= style %>:</td>
            <td>
                <img src="https://api.dicebear.com/6.x/<%= style %>/svg?seed=<%= randomSeed %>" style="height: 4em; vertical-align: middle;">
                <%= randomSeed %>
            </td>
        </tr>
        <% } %>
    </table>

    <!-- <script src="/js/main.js"></script> -->
    <script src="/js/player-properties.js"></script>
</body>

</html>